SUBSYSTEM=="video4linux", ATTR{name}=="5MP USB Camera: 5MP USB Camera", ATTR{index}=="0", \
  ATTRS{idVendor}=="32e4", ATTRS{idProduct}=="0335", ATTRS{serial}=="01.00.00", \
  SYMLINK+="widecam"